<% include ../partials/header %>
<h1>This is the show template</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"></p>
            <div class="list-group">
                <li class="list-group-item active">info 1</li>
                <li class="list-group-item">info 1</li>
                <li class="list-group-item">info 1</li>
    
            </div>
        </div>
        <div  class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$200/night</h4>
                    <h1><a><%= campground.name %></a></h1>
                    <p><%= campground.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <p><a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">New Comment</a></p>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= comment.author %>
                            <span class="pull-right">10 days ago</span>
                            <%= comment.text %>
                        </div>
                    </div>
                    <p>
                        
                    </p>
                <% }); %>
            </div>
        </div>
    </div>
</div>
        

<% include ../partials/footer %>